h1 {
    color: chartreuse;
    font-family: 'Courier New', monospace;
    text-align: center;
}

h3 {
    color: chartreuse;
    font-family: 'Courier New', monospace;
    text-align: center;
}

p {
    color: chartreuse;
    font-family: 'Courier New', monospace;
    margin: 5px;
}

marquee {
    color: chartreuse;
    font-family: 'Courier New', monospace;
    margin: 5px;
}

.body-bg {
    background-color: black;
}

.nav-bg-blue {
    background-color: blue;
}

.nav-text-color {
    color: chartreuse;
}

.nav-text-color:hover {
    color: chartreuse;
    text-decoration: underline;
    background-color: blue;
}

.link-text-color {
    color: chartreuse;
}

.link-text-color:hover {
    color: chartreuse;
    text-decoration: underline;
}

.main-font {
    font-family: 'Courier New', monospace;
}

.space {
    margin: 20px;
}

.main-box-right {
    top: 10%;
    background:black;
    outline-style: dotted;
    outline-color: chartreuse;
}

.image-plots {
    display: block;
    backface-visibility: hidden;
    margin-left: auto;
    margin-right: auto;
  }

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  
  .text-overlay {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .thumbnail:hover .image {
    opacity: 0.3;
  }
  
  .thumbnail:hover .text-overlay {
    opacity: 1;
  }

.main-box-left {
    position: relative;
    width: 400px;
    background:black;
    outline-style: solid;
    outline-color: chartreuse;
    outline-width: thin;
    border: 2px solid black;
    margin: 25px;
    float: left;
}

#comp-humidity {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.links {
    color:rgb(255, 174, 0);
    text-decoration: underline;
}

.links:hover {
    color: rgb(129, 88, 0);
    text-decoration: underline;
}